<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelvin_api</title>
</head>
<body>
    <h1 style="margin-left: 44rem; font-family: 'segoe UI', sans-serif;">Kelvin API Route</h1>
    <form action="/submit" method="post">
        <label for="query" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px;">Query: </label><br>
        <input type="text" id="query" name="query" placeholder="Ask Query" style="padding:10px; font-size:15px; width:100rem; font-family:'Segoe UI',sans-serif">
        <input type="submit" value="Get Request" style="padding: 10px; margin-top:10px; ">
    </form>
</body>
</html>