<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris By Kelvin | Home</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <nav>
        <div class="left">
            <h1>IRIS AI</h1>
            <ul>
                <li class="list"><a href="/" id="home" class="current">Home</a></li>
                <li class="list"><a href="#" id="iris" >Iris</a></li>
                <li class="list"><a href="#" id="Kelvin" >Kelvin</a></li>
                <li class="list"><a href="#" id="blog" >Blog</a></li>
                <li class="list"><a href="#" id="support" >Support</a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><a href="/signup">Free Sign Up</a></li>
                <li><a href="/checker">Check API ID</a></li>
            </ul>
        </div>
    </nav>

    <div class="firsthead">
        <h1 class="heading3">
            Welcome To IRIS 
            <h4 id="productions">By Kelvin Productions</h4>
        </h1>
        <p class="para_about">
            Iris by Kelvin is a Machine Learning Model Api, <br>
            Which allows User to Fetch Natural Language <br>
            processing(NLP) Data in a form of API to use <br> 
            that data in various tasks in a Cross-Platform <br>
            way and Absolutely Free
        </p>
    </div>

    <div class="secondpage">
        <h1 class="secondpage_heading">How To Use</h1>
        <div class="createaccount">
            <h1 class="secondpage_heading2">Creating account</h1>
            <p class="createaccount_para">Even Though We provide Free Service, It is Required that You have an Iris Account in Order to <br> Get your access to your API ID. To Create an Iris Account Click on the "Free Sign Up"  Link in the <br> Navbar Fill the Form and then after Submmiting it you Will see the confirmation Of your Registration <br>
            along with Your API ID, And if you forget to notice that don't Worry We've got You Covered !</p>
        </div>
        
        <div class="checkapiid">
            <h1 class="secondpage_heading2">Checking API Id</h1>
            <p class="createaccount_para">You forget to notice the API Id During Registration Process don't Worry you can follow these: <br> Get your access to your API ID. To Check Your Iris API Id, Click on the "Check API ID"  Link in the <br> Navbar Fill the Form and then after Submmiting it you Will see Your API ID</p>
        </div>
        
        <div class="useapiid">
            <h1 class="secondpage_heading2">Using API ID</h1>
            <p class="createaccount_para">Using the API ID is Quite Easier, In Our Case, Our Main Program is inside a Function <br>named 'respond'. Now the skeleton should look like "https://website.com/respond/api_id/query" <br>
            ("Website.com--->Website Name"; "respond--->Name of the function";  "api_id--->Your API ID";<br> "query--->Your Query") </p>
            <h3 class="tryout">Wanna give Try on our Website Itself?</h3>
            <a href="/tryout_main" class="tryout_btn">Tryout</a>
        </div>
    </div>

</body>
    
</html>